body{
    background: rgb(0, 0, 0);
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.words{
    color:red;
    font-size: 100px;
    position: static;
}
