body{
    background: rgb(160, 162, 255);
    color: rgb(0, 0, 0);
    margin: 0;
}

nav{
    background: rgb(181, 188, 250);
    height: 100px;
}

.resumeBTN{
    width: 150px;
    height: 80px;
    position: absolute;
    top: 10px;
    right: 25px;

}
